tensorflow==2.3.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow-estimator==2.3.0
Flask==1.1.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
numpy>=1.18.5
keras-Preprocessing==1.1.2
werkzeug==1.0.1
gevent==20.6.2
h5py==2.10.0
scipy==1.4.1
Pillow==7.2.0
Markdown==3.2.2
MarkupSafe==1.1.1
absl-py==0.10.0
astunparse==1.6.3
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cycler==0.10.0
gast==0.3.3
#google-aut==1.20.1
google-auth-oauthlib==0.4.1
#googl1-pasta==0.2.0
#greenle==0.4.16
grpcio==1.31.0
idna==2.10
#importlib-metadat==1.7.0
itsdangerous==1.1.0
joblib==0.16.0
#kiwisolve==1.2.0
oauthlib==3.1.0
protobuf==3.13.0
#pyint==0.0.8
pyparsing==2.4.7
python-dateutil==2.8.1
setuptools==49.6.0
#urllin3==1.25.10